@import "index";

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .big-container {
        margin-top: 5.4rem;
        display: block;
        width: 100%;
        animation: backgroundImgs 20s ease-in-out infinite normal none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;

        .question-container {
            width: 50%;
            margin: 37vh auto;
            padding: 0.2vw;
            background-color: rgba(233, 233, 233, 0.7);

            .smaller-container {
                border: 3px solid black;
                margin: 1vw;

                p {
                    text-align: center;
                    font-size: 3.7vw;
                    font-family: 'Lobster', cursive;
                    margin: 1.3vw;
                    padding: 2vh 0;
                }
                
                ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    border-top: 5px solid black;
                }

                li {
                    font-size: 2.2vw;
                    font-weight: bold;
                    text-align: center;
                    height: 100%;
                    align-self: center;
                }

                li:nth-of-type(2) {
                    border-left: 5px solid black;
                    border-right: 5px solid black;
                    padding: 0.4vw 2.3vw 0;
                    
                }
                #vegan {
                    width: 7vw;
                }

                a {
                    color: black;
                }
                a:hover {
                    color: $mid-red;
                }
            }
        }
    }
}


@keyframes backgroundImgs {
    0% {
        background-image: url("../assets/img/cakepops.jpg");
    }
    25% {
        background-image: url("../assets/img/pasta.jpg");
    }
    50% {
        background-image: url("../assets/img/grain.jpg");
    }
    75% {
        background-image: url("../assets/img/egypt.jpg");
    }
    100% {
        background-image: url("../assets/img/cakepops.jpg");
    }
}

@media screen and (max-width: 420px) {
    .home {
        .big-container {
            .question-container {
                    width: 85%;

                .smaller-container {
                    p {
                        font-size: 9vw;
                        padding: 2vh 0;
                    }
                    ul {
                        li {
                            font-size: 5vw;
                        }
                        li:nth-of-type(2) {
                            padding: 2.5vh 4vw;
                        }
                        #vegan {
                            width: 12vw;
                        }
                    }
                }
            }
        }
    } 
}

@media screen and (max-width: 689px) and (min-width: 420px) {
    .home {
        .big-container {
            .question-container {
                    width: 85%;

                .smaller-container {
                    p {
                        font-size: 6vw;
                        padding: 4vh 0;
                    }
                    ul {
                        li {
                            font-size: 4vw;
                        }
                        li:nth-of-type(2) {
                            padding: 2.5vh 4vw;
                        }
                        #vegan {
                            width: 12vw;
                        }
                    }
                }
            }
        }
    } 
}

@media screen and (max-width: 950px) and (min-width: 690px) {
    .home {
        .big-container {
            .question-container {
                    width: 70%;

                .smaller-container {
                    p {
                        font-size: 5vw;
                        padding: 4vh 0;
                    }
                    ul {
                        li {
                            font-size: 3vw;
                        }
                        li:nth-of-type(2) {
                            padding: 2vh 2.3vw;
                        }
                    }
                }
            }
        }
    }   
}
