/* COLORS */
$light-brown: #e4d2b7;
$dark-brown: rgb(105, 68, 11);
$darker-pink: #ff43e0;
$mid-red: rgba(255, 0, 85, 0.74);

/* FONTS */
//Lobster:
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Red+Rose&display=swap");

/* BASIC RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}

body {
    font-family: 'Red Rose', cursive;
    // position: relative;
    
}

a {
    text-decoration: none;
}

a:hover {
    color: $mid-red;
}