@import "index";

nav ul, nav ul a {
    display: flex;
    justify-content: center;
    color: black;
}

nav ul a {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

nav ul a:hover {
    border-bottom: 2px solid $mid-red;
}

.selected {
    border-bottom: 2px solid black;
}

.selected:hover {
    border-bottom: 1px solid $mid-red;
}

nav li {
    margin: 2rem;
    font-size: 1rem;
}