@import "index";

header {
    display: flex;
    flex-direction: column;
}

.sprinkles {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.navbar, .nav-group {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Lobster', cursive;
    margin: 0.5rem;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    position: absolute;
    left: 0;
}

.nav-group {
    justify-content: center;
}

li {
    margin: 1.2rem;
    font-size: 1.5rem;
}