@import "index";

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 101;
    background-color: white;
    width: 100%;

    ul, ul a {
        display: flex;
        justify-content: center;
        color: black;
    }

    ul a {
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }

    ul a:hover {
        border-bottom: 2px solid $mid-red;
    }

    .selected {
        border-bottom: 2px solid black;
    }

    .selected:hover {
        border-bottom: 1px solid $mid-red;
    }

    li {
        margin: 2rem;
        font-size: 1rem;
    }
}