@import "index";

.recommended {
    margin: 3rem;
    letter-spacing: 0.2rem;
    
    h2 {
        text-align: center;
    }

    .rec-container {
        margin-top: 3rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}